/* @tailwind base;
@tailwind components;
@tailwind utilities;


.component {
    display: flex;
  }
  
  .left {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ccc;
  }
  
  .right {
    flex: 3;
    padding: 10px;
  }
  .info{
    display:flex;
    justify-content: space-evenly;
  }
  
 */
